<html>

<head>
    <title>
        <%-params.title%>
    </title>
    <link href="./css/bootstrap.css" rel="stylesheet">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/mdb.min.css" rel="stylesheet">
    <link href="./css/mdb.css" rel="stylesheet">
</head>

<body>
    <div class="container">
            <nav class="navbar navbar-default">
                    <div class="container-fluid">
                      
                    
                      <ul class="nav navbar-nav">
                        <li class="active"><a href="./users">Usuarios</a></li>
                        <li><a href="#">Citas</a></li>
                        <li><a href="./appoTypes">Tipos de Citas</a></li>
                        <li><a href="#">Historial</a></li>
                      </ul>
                    </div>
                  </nav>
                    
                  <div class="container">
                    

                 
                                <!--Body content-->
                                <h1>
                                    <%-params.head%>
                                </h1>
                                <form>
                                    <div>
                                        <label>Tipo de Cita</label>
                                        <input type="text" id="name" placeholder="Prioritaria,Normal">
                                    </div>
                                    
                                    <button class="btn btn btn-success" id="boton" type="button">Enviar</button>
                                    
                                </form>
                
                                <table>
                                    <thead>
                                        <tr>
                                            <td>Nombre</td>
                                            <td>Correo</td>
                                            <td>Genero</td>
                                            <td>Edad</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                  

    <script src="./js/jquery-3.2.1.min.js"></script>
    <script src="./js/appoTypes.js"></script>
    <script src="./js/bootstrap.min.js"></script>

</body>

</html>