<html>

<head>
    <title>
        <%-params.title%>
    </title>
    <link href="./css/bootstrap.css" rel="stylesheet">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/mdb.min.css" rel="stylesheet">
    <link href="./css/mdb.css" rel="stylesheet">
</head>

<body>
    <div class="container">
            <nav class="navbar navbar-default">
                    <div class="container-fluid">
                      
                    
                      <ul class="nav navbar-nav">
                        <li class="active"><a href="./users">Usuarios</a></li>
                        <li><a href="#">Citas</a></li>
                        <li><a href="./appoTypes">Tipos de Citas</a></li>
                        <li><a href="#">Historial</a></li>
                      </ul>
                    </div>
                  </nav>
                    
                  <div class="container">
                    

                 
                                <!--Body content-->
                                <h1>
                                    <%-params.head%>
                                </h1>
                                <form>
                                    <div>
                                        <label>Nombre</label>
                                        <input type="text" id="name" placeholder="Nombre">
                                    </div>
                                    <div>
                                        <label for="inputEmail">Correo</label>
                                        <input type="text" id="email" placeholder="Correo">
                                    </div>
                                    <div>
                                        <label class="control-label" for="inputEmail">Genero</label>
                                        <select id="gender">
                                            <option value="male">Masculino</option>
                                            <option value="female">Femenino</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label class="control-label" for="inputEmail">Edad</label>
                                        <input type="number" id="age" placeholder="Edad">
                                    </div>
                                    <button class="btn btn btn-success" id="boton" type="button">Enviar</button>
                                    
                                </form>
                
                                <table>
                                    <thead>
                                        <tr>
                                            <td>Nombre</td>
                                            <td>Correo</td>
                                            <td>Genero</td>
                                            <td>Edad</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                  

    <script src="./js/jquery-3.2.1.min.js"></script>
    <script src="./js/users.js"></script>
    <script src="./js/bootstrap.min.js"></script>

</body>

</html>